<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bfd.webappxcdc.c_dao.PersonInformationDao">
    <select id="getPersonNum" parameterType="java.lang.String"
            resultType="com.bfd.webappxcdc.vo.PersonInformationNumVO">
		select
		    zdrylbbj_dic as name ,
		    zdrylbbj as type  ,
		    count(zdrylbbj_dic) as num
		    from fact_key_person_rylb
		    group by zdrylbbj
	</select>


    <select id="getPersonDetail" parameterType="java.lang.String"
            resultType="com.bfd.webappxcdc.vo.PersonInformationDetailVO">
       SELECT
	c.xm as name ,
	c.card_code as id ,
	c.cur_dev_name as address,
	c.cur_longitude as longitude,
	c.cur_latitude as latitude,
	c.cur_col_time as lasttime
FROM fact_person_position_new c
 join
fact_key_person_rylb b
on b.sfzh=c.card_code
WHERE
	b.sfzh IS NOT NULL
	AND c.card_code IS NOT NULL
	AND cur_col_locale IS NOT NULL
	AND c.cur_longitude IS NOT NULL
	AND c.cur_latitude IS NOT NULL
  AND zdrylbbj = #{type}


    </select>


</mapper>
