<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bfd.webappgzga.c_dao.PersonInformationDao">
    <select id="getPersonNum" parameterType="java.lang.String"
            resultType="com.bfd.webappgzga.vo.PersonInformationNumVO">
		select
		    zdrylbbj_dic as name ,
		    zdrylbbj as type  ,
		    count(zdrylbbj_dic) as num
		    from fact_key_person_rylb
		    group by zdrylbbj
	</select>


    <select id="getPersonDetail" parameterType="java.lang.String"
            resultType="com.bfd.webappgzga.vo.PersonInformationDetailVO">
        SELECT
        	c.xm AS NAME,
        	c.card_code AS id,
        	c.cur_dev_name AS address,
        	c.cur_longitude AS longitude,
        	c.cur_latitude AS latitude,
        	from_unixtime(c.cur_col_time/1000) as time
        FROM
        	fact_person_position_new c
        	JOIN fact_key_person_rylb b ON b.sfzh = c.card_code
        WHERE
        	b.sfzh IS NOT NULL
        	AND c.card_code IS NOT NULL
        	AND cur_col_locale IS NOT NULL
        	AND c.cur_longitude IS NOT NULL
        	AND c.cur_latitude IS NOT NULL
        	AND c.cur_col_time IS NOT NULL
        	AND zdrylbbj = #{type}
     </select>
</mapper>
