<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bfd.webappxcdc.c_dao.PersonThermodynamicDao">
	<select id="getChartNum" parameterType="java.lang.String"
		resultType="com.bfd.webappxcdc.vo.PersonThermodynamicChartVO">
		SELECT idcard,roadcode,e_jd as jd,e_wd as wd ,pass_num as
		passnum FROM dw_keyperson_hotmap WHERE idcard=#{hm}
	</select>
	<select id="getCarActivity" parameterType="java.lang.String" resultType="com.bfd.webappxcdc.vo.CarActivityVO">
		SELECT t1.h AS rq,t1.num AS cnum,t2.num AS bnum FROM(
		SELECT num,CONCAT(tjrq,' ',tjsj)AS h FROM `fact_key_vehicle_active`
		WHERE num_type='B' AND CONCAT(tjrq,' ',tjsj)&gt;=SUBSTR((NOW() - INTERVAL 24
		HOUR),1,13)AND CONCAT(tjrq,'-',tjsj)&lt;=SUBSTR(NOW(),1,13)
		)t1
		LEFT JOIN
		(SELECT num,CONCAT(tjrq,' ',tjsj)AS h FROM `fact_key_vehicle_active`
		WHERE num_type='C' AND CONCAT(tjrq,' ',tjsj)&gt;=SUBSTR((NOW() - INTERVAL 24
		HOUR),1,13) AND CONCAT(tjrq,'-',tjsj)&lt;=SUBSTR(NOW(),1,13)
		)t2 ON t1.h=t2.h
		ORDER BY t1.h
	</select>
	<select id="getPersonActivity" parameterType="java.lang.String"
		resultType="com.bfd.webappxcdc.vo.PersonActivityVO">
		SELECT num,tjrq FROM fact_key_person_active ORDER BY tjrq
		DESC LIMIT 10
	</select>

</mapper>
