<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bfd.webappxcdc.c_dao.SearchInformationDao">
    <select id="getInfoByname" resultType="com.bfd.webappxcdc.vo.SearchInformationVO">
	SELECT
         b.xm as name,
         b.sfzh as sfzh ,
         c.cph as cph
       from (select distinct xm,sfzh from fact_key_person_rylb) b
       left join fact_key_person_cxlb c
       on b.sfzh=c.sfzh
       where b.xm like '%${value}%' limit #{pageIndex} , #{pagesize}
    </select>

    <select id="getInfoByID" resultType="com.bfd.webappxcdc.vo.SearchInformationVO">
        SELECT
        b.xm as name,
        b.sfzh as sfzh ,
        c.cph as cph
        from (select distinct xm,sfzh from fact_key_person_rylb) b
        left join fact_key_person_cxlb c
        on b.sfzh=c.sfzh
        where b.sfzh like '%${value}%' limit #{pageIndex} , #{pagesize}
    </select>


    <select id="getInfoByCard" resultType="com.bfd.webappxcdc.vo.SearchInformationVO">
        select sfzmhm as sfzh,
        syr as name ,
        concat("赣",hphm) as cph
        from  fact_key_vehicle_info
        where concat("赣",hphm)
        like '%${value}%' limit #{pageIndex} , #{pagesize}
    </select>

    <select id="getInfoByRfid" resultType="com.bfd.webappxcdc.vo.SearchInformationVO">
        select sfzh as sfzh,
        xm as name ,
        fdbm as cph
        from  fact_key_lcdjdwxx_info
        where fdbm
        like '%${value}%' limit #{pageIndex} , #{pagesize}
    </select>





    <select id="getCountNum" resultType="java.lang.String">
        select count(*) from
        <if test="type == 'name'">
            (select distinct xm,sfzh from fact_key_person_rylb) b
            LEFT JOIN fact_key_person_cxlb c
            ON b.sfzh=c.sfzh
            where b.xm like '%${value}%'
        </if>
        <if test="type == 'id'">
            (select distinct xm,sfzh from fact_key_person_rylb) b
            LEFT JOIN fact_key_person_cxlb c
            ON b.sfzh=c.sfzh
            where b.sfzh like '%${value}%'
        </if>
        <if test="type == 'card'">
            fact_key_vehicle_info
            where concat("赣",hphm)
            like '%${value}%'
        </if>
        <if test="type == 'rfid'">
            fact_key_lcdjdwxx_info
            where fdbm
            like '%${value}%'
        </if>
    </select>


    <select id="getArchiesPeopleInfo" resultType="com.bfd.webappxcdc.vo.ArchivesPeopleVO">
        SELECT
        xm as name ,
        sfzh as sfzh,
        jzdxz as address,
        xb_dic as sex,
        csrq as csrq,
        mz_dic as mz,
        zdryxl_dic as zdryxl
        FROM
        fact_key_person
        WHERE sfzh = #{id}
    </select>
    <select id="getArchiesCarInfo" resultType="com.bfd.webappxcdc.vo.ArchivesCarVO">
        SELECT
        concat("赣",hphm) as platelicense,
        cllx_dic as model,
        csys_dic as colors
        FROM
        fact_key_vehicle_info
        WHERE sfzmhm = #{id}
    </select>
    <select id="getArchiesRfidInfo" resultType="com.bfd.webappxcdc.vo.ArchivesCarVO">
        SELECT
        fdbm as platelicense,
        clpp as model,
        ys as colors
        FROM
        fact_key_lcdjdwxx_info
        WHERE sfzh = #{id}
    </select>
    <select id="getArchiesCaseInfo" resultType="com.bfd.webappxcdc.vo.ArchivesCaseVO">
          select sfzh as sfzh ,
          case_code as code,
          case_start_date as start,
          case_end_date as end ,
          case_type as type,
          case_state as state
          from fact_key_case_register where sfzh = #{id}
    </select>

    <select id="getArchiesRelationInfo" resultType="com.bfd.webappxcdc.vo.ArchivesRelationVO">
        select
            key_person_name as name,
            rel_person_name as relname,
            rel_person_idcard as relid,
            num as times,
            rel_type as type
        from
            key_person_same_train_hotel
        where
            key_person_idcard = #{id}
    </select>


</mapper>
