<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bfd.webappxcdc.c_dao.SearchInformationDao">
    <select id="getInfoByname" resultType="com.bfd.webappxcdc.vo.SearchInformationVO">
		SELECT
          a.xm as name,
          a.sfzh18 as id ,
          b.cph as cph
        FROM fact_key_person a
        LEFT JOIN fact_key_person_cxlb b
        ON b.sfzh=a.sfzh18
        where a.name like '%${1}%' limit #{2} , 10
	</select>

    <select id="getInfoByID" parameterType="java.lang.String" resultType="com.bfd.webappxcdc.vo.SearchInformationVO">
        select
        xm as name,
        sfzh as sfzh,
        xb_dic as sex,
        zxlasj as newregistertime,
        zdryxl_dic as type
        from fact_key_person a
        where a.sfzh like '%${value}%'
    </select>





</mapper>
