<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bfd.webappxcdc.c_dao.SearchInformationDao">
    <select id="getInfoByname" resultType="com.bfd.webappxcdc.vo.SearchInformationVO">
		SELECT
          a.xm as name,
          a.sfzh18 as sfzh ,
          b.cph as cph
        FROM fact_key_person a
        LEFT JOIN fact_key_person_cxlb b
        ON b.sfzh=a.sfzh18
        where a.xm like '%${value}%' limit #{pageIndex} , 10
	</select>

    <select id="getInfoByID" resultType="com.bfd.webappxcdc.vo.SearchInformationVO">
        SELECT
          a.xm as name,
          a.sfzh18 as sfzh ,
          b.cph as cph
        FROM fact_key_person a
        LEFT JOIN fact_key_person_cxlb b
        ON b.sfzh=a.sfzh18
        where a.sfzh18 like '%${value}%' limit #{pageIndex} , 10
    </select>


    <select id="getInfoByCard" resultType="com.bfd.webappxcdc.vo.SearchInformationVO">
        SELECT
          xm as name ,
          sfzh as sfzh,
          cph as cph
        FROM
          fact_key_person_cxlb
        WHERE cph LIKE '%${value}%' limit #{pageIndex} , 10
    </select>


    <select id="getArchiesPeopleInfo" resultType="com.bfd.webappxcdc.vo.ArchivesPeopleVO">
        SELECT
        xm as name ,
        sfzh as sfzh,
        jzdxz as address
        FROM
        fact_key_person
        WHERE sfzh = #{id}
    </select>
    <select id="getArchiesCarInfo" resultType="com.bfd.webappxcdc.vo.ArchivesCarVO">
        SELECT
        concat("赣",hphm) as platelicense,
        cllx_dic as model,
        csys_dic as colors
        FROM
        fact_key_vehicle_info
        WHERE sfzmhm = #{id}
    </select>
    <select id="getArchiesCaseInfo" resultType="com.bfd.webappxcdc.vo.ArchivesCaseVO">

    </select>

    <select id="getArchiesRelationInfo" resultType="com.bfd.webappxcdc.vo.ArchivesRelationVO">
        select
            key_person_name as name,
            rel_person_name as relname,
            rel_person_idcard as relid,
            num as times,
            rel_type as type
        from
            key_person_same_train_hotel
        where
            key_person_idcard = #{id}

    </select>


</mapper>
